/*lo ultimo que se hace en html y css es lo que esta escrito al final del codigo*/

h2{

	color:red;
}

/*selectores de id*/

#nuestros{

	color:green;
}

#pollo{

	color: blue;
}

#de_cuates.cuates{
	color:red;
}

#de_cuates{ /*en este caso, este no cuenta*/
	/*porque la sentencia de arriba es más pro*/
	color:black;
}


#cafe_leyenda{
	color:yellow;
}

/*selectores de class*/
/*las clases si se pueden reutilizar*/

.aside{
	color:blue;
}

.nosotros{

	color:green;
}
/*selectores con dos clases*/

.u.ultima{

	color:brown;
}

/*selectores con elementos html y id*/

p#parrafo{

	color: brown;
}

/*selectores con elementos html y class*/

section.info_restaurantes{

	background:gray;
}

/*selector universal*/
/*
*{
	color:red!important;
}*/

.cafe *{
	background: red;
}


/*selectores por grupo*/

h2, h3, p{
	background: green;
	text-align: center;
}

/*selectores descendientes*/

header.cont{

	background: blue;
}

header.cont p{
	background: yellow;
}

/*selector primer hijo*/
ul#menu_principal li > p{
	background: red;
}

/*selector adyacente*/
h4#noticia_primera + p{
	font-size: 40px;
}

a[href*="google.com"]{
	background-color:purple;
	font-size: 20px;
}

a[href*="facebook.com"]{
	background-color:brown;
	font-size: 30px;
}

/*selectores de atributos de html*/
[class="pollo"]{
	background-color:white;
}

/*selectores a seudoclases*/
ul#menu_principal li a:hover{
	background-color:orange!important;
}

table.tablita tr:nth-child(odd){
	background: gray;

}

table.tablita tr:nth-child(even){
	background-color:yellow;
}


table.tablita tr:nth-child(odd):hover{
	background-color: green;
}

table.tablita tr:nth-child(even):hover{
	background-color: purple;
}